/* Start @font-face */
@font-face{
	font-family: 'Roboto';
	url: '.fonts/Roboto/Roboto-Regular.ttf';
}
/* End @font-face */

/* Start body */
body{
	margin: 0%;
	box-sizing: border-box;
	font-family: 'Roboto';
	width: 100%;
	height: 100%;
}
/* End body */

/* Start main cv */

/* Start bloc left cv */
#bloc-cv{
	background-color: rgba(227, 229, 228, 0.6);
	height: 100%;
}
.bloc-left{
	background-color: rgba(71, 142, 204, 1.0);
	color: white;
}
.bloc-left .img-fluid{
	text-align: center;
}
.bloc-left img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 2rem;
}
.bloc-left h1{
	font-size: 30px;
	font-weight: 800;
}
.bloc-left .profile p{
	font-size: 21px;
	font-weight: 500;
}
.bloc-left .fa{
	font-size: 40px;
	margin-top: 2.2rem;
	margin-left: 1rem;
}
.bloc-left .phone p{
	color: rgba(71, 142, 204, 1.0);
}
.bloc-left .barre p{
	padding-top:1rem ;
	margin-top: 2rem;
}
.bloc-left .barre h5{
	font-size: 30px;
}

.bloc-left .barre{
	margin-bottom: 2rem;
}
/* End bloc left cv '*/

/* start bloc right cv '*/
.about-cv{
	background-color: white;
	padding: 2rem;
}
.about-cv .fa{
	color: rgba(116, 116, 116, 1.0);
	font-size: 40px;
}
.bloc-about h1,span,.sous-cv p{
	color: rgba(83, 84, 86, 1.0);
}
.bloc-about h5{
	color: rgba(114, 114, 114, 1.0);
}

.bloc-about p{
	color: rgba(65, 141, 205, 1.0);
}
.bloc-about .hob-cv .fa{
	color: rgba(68, 143, 173, 1.0);
	margin-right:2rem ;
}
.sous-cv{
	margin-top: 1rem;
	display: flex;
}
.sous-cv p{
	margin-right: 2rem;
}
.sous-cv span{
	font-weight: 800;
	font-size:24px ;
}
/* End bloc bloc right cv '*/
